<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }

  main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .content {
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    text-align: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  nav a {
  color: var(--electric-violet);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

</style>

<main>
  <div class="content">
    <h1>Hello, {{ (userName$ | async) ? (userName$ | async) : 'Guest' }}</h1>
    <p>Welcome to my Search Engine 🎉</p>
    <nav>
      <a routerLink="/create-user">Create User</a>
    </nav>

    <router-outlet></router-outlet>

    <div class="social-links">
      <a href="https://github.com/angular/angular" aria-label="Github" target="_blank" rel="noopener">
        <!-- GitHub SVG here -->
      </a>

      <a href="https://twitter.com/angular" aria-label="Twitter" target="_blank" rel="noopener">
        <!-- Twitter SVG here -->
      </a>
    </div>
  </div>
</main>
